<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EduFlex</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

<div class="container">
  <h1>Welcome to EduFlex</h1>
  
  <div class="buttons">
    <div class="bus"><a href="/login" class="login-btn">Login</a></div>
    <div class="bus"><a href="/signup" class="signup-btn">SignUp</a></div>
  </div>
</div>

<script src="script.js"></script>

</body>
</html>
