body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  margin-top: 60px;
}
h1 {
  margin-top: 40px;
}
.container {
  width: 600px;
  height: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
h1 {
  margin-bottom: 20px;
}
.bus, .bus a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #06BBCC; /* Changed to the new hex color code */
  color: #fff;
  margin: 0 10px;
}
.bus:hover {
  background-color: #008FAF; /* Changed hover color to a darker shade */
}
